body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f5f0;
  color: #333;
}

header {
  background-color: steelblue;
  color: #f8f5f0;
  padding: 10px 20px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-container h1 {
  margin: 0;
}

nav {
  flex: 1;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.carrito-icon {
  position: relative;
}

.carrito-icon img {
  width: 30px;
  height: 30px;
}

main {
  position: relative;
  z-index: 1;
  min-height: 60vh;
  padding: 20px;
}

footer {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: 0;
}
